<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Tasks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="left-align">
        <h1>Your Tasks</h1>
    </div>
    <a href="/home" class="home-btn">Back to Home</a>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.category?.getName()}">No category</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>